:root {
  --white: #ffffff;
  --white-a1: rgba(255, 255, 255, 0.05);
  --white-a2: rgba(255, 255, 255, 0.1);
  --white-a3: rgba(255, 255, 255, 0.15);
  --white-a4: rgba(255, 255, 255, 0.2);
  --white-a5: rgba(255, 255, 255, 0.3);
  --white-a6: rgba(255, 255, 255, 0.4);
  --white-a7: rgba(255, 255, 255, 0.5);
  --white-a8: rgba(255, 255, 255, 0.6);
  --white-a9: rgba(255, 255, 255, 0.7);
  --white-a10: rgba(255, 255, 255, 0.8);
  --white-a11: rgba(255, 255, 255, 0.9);
  --white-a12: rgba(255, 255, 255, 0.95);

  --black: #000000;
  --black-a1: rgba(0, 0, 0, 0.05);
  --black-a2: rgba(0, 0, 0, 0.1);
  --black-a3: rgba(0, 0, 0, 0.15);
  --black-a4: rgba(0, 0, 0, 0.2);
  --black-a5: rgba(0, 0, 0, 0.3);
  --black-a6: rgba(0, 0, 0, 0.4);
  --black-a7: rgba(0, 0, 0, 0.5);
  --black-a8: rgba(0, 0, 0, 0.6);
  --black-a9: rgba(0, 0, 0, 0.7);
  --black-a10: rgba(0, 0, 0, 0.8);
  --black-a11: rgba(0, 0, 0, 0.9);
  --black-a12: rgba(0, 0, 0, 0.95);

  --danger-1: var(--red-1);
  --danger-2: var(--red-2);
  --danger-3: var(--red-3);
  --danger-4: var(--red-4);
  --danger-5: var(--red-5);
  --danger-6: var(--red-6);
  --danger-7: var(--red-7);
  --danger-8: var(--red-8);
  --danger-9: var(--red-9);
  --danger-10: var(--red-10);
  --danger-11: var(--red-11);
  --danger-12: var(--red-12);

  --danger-a1: var(--red-a1);
  --danger-a2: var(--red-a2);
  --danger-a3: var(--red-a3);
  --danger-a4: var(--red-a4);
  --danger-a5: var(--red-a5);
  --danger-a6: var(--red-a6);
  --danger-a7: var(--red-a7);
  --danger-a8: var(--red-a8);
  --danger-a9: var(--red-a9);
  --danger-a10: var(--red-a10);
  --danger-a11: var(--red-a11);
  --danger-a12: var(--red-a12);

  --warning-1: var(--orange-1);
  --warning-2: var(--orange-2);
  --warning-3: var(--orange-3);
  --warning-4: var(--orange-4);
  --warning-5: var(--orange-5);
  --warning-6: var(--orange-6);
  --warning-7: var(--orange-7);
  --warning-8: var(--orange-8);
  --warning-9: var(--orange-9);
  --warning-10: var(--orange-10);
  --warning-11: var(--orange-11);
  --warning-12: var(--orange-12);

  --warning-a1: var(--orange-a1);
  --warning-a2: var(--orange-a2);
  --warning-a3: var(--orange-a3);
  --warning-a4: var(--orange-a4);
  --warning-a5: var(--orange-a5);
  --warning-a6: var(--orange-a6);
  --warning-a7: var(--orange-a7);
  --warning-a8: var(--orange-a8);
  --warning-a9: var(--orange-a9);
  --warning-a10: var(--orange-a10);
  --warning-a11: var(--orange-a11);
  --warning-a12: var(--orange-a12);

  --info-1: var(--blue-1);
  --info-2: var(--blue-2);
  --info-3: var(--blue-3);
  --info-4: var(--blue-4);
  --info-5: var(--blue-5);
  --info-6: var(--blue-6);
  --info-7: var(--blue-7);
  --info-8: var(--blue-8);
  --info-9: var(--blue-9);
  --info-10: var(--blue-10);
  --info-11: var(--blue-11);
  --info-12: var(--blue-12);

  --info-a1: var(--blue-a1);
  --info-a2: var(--blue-a2);
  --info-a3: var(--blue-a3);
  --info-a4: var(--blue-a4);
  --info-a5: var(--blue-a5);
  --info-a6: var(--blue-a6);
  --info-a7: var(--blue-a7);
  --info-a8: var(--blue-a8);
  --info-a9: var(--blue-a9);
  --info-a10: var(--blue-a10);
  --info-a11: var(--blue-a11);
  --info-a12: var(--blue-a12);

  --success-1: var(--green-1);
  --success-2: var(--green-2);
  --success-3: var(--green-3);
  --success-4: var(--green-4);
  --success-5: var(--green-5);
  --success-6: var(--green-6);
  --success-7: var(--green-7);
  --success-8: var(--green-8);
  --success-9: var(--green-9);
  --success-10: var(--green-10);
  --success-11: var(--green-11);
  --success-12: var(--green-12);

  --success-a1: var(--green-a1);
  --success-a2: var(--green-a2);
  --success-a3: var(--green-a3);
  --success-a4: var(--green-a4);
  --success-a5: var(--green-a5);
  --success-a6: var(--green-a6);
  --success-a7: var(--green-a7);
  --success-a8: var(--green-a8);
  --success-a9: var(--green-a9);
  --success-a10: var(--green-a10);
  --success-a11: var(--green-a11);
  --success-a12: var(--green-a12);
}
